/*********************************************************************************/
/* Custom stuff by shaun                                                         */
/*********************************************************************************/

*::selection {
	background: #99DE59;
}
*::-moz-selection {
	background: #99DE59;
}

#banner-wrapper
{
	padding-bottom: 1.75em;
}