{% include top.html %}
<!-- Banner Wrapper -->
	<div id="banner-wrapper">
		<div class="container">
			<div class="row">
				<div class="12u">
				
					<!-- Banner -->
						<div id="banner" class="box">

							<div>
								<div class="row">
									<div class="7u">
										<h2>{{ page.banner_heading }}</h2>
										<p>{{ page.banner_subheading }}</p>
									</div>
									<div class="5u">
										{{ page.banner_buttons }}
									</div>
								</div>
							</div>
						
						</div>

				</div>
			</div>
		</div>
	</div>

<!-- Main Wrapper -->
	<div id="main-wrapper">
		<div class="container">
			<div class="row">
				<div class="4u">
				
					<!-- Sidebar -->
						<div id="sidebar">
							<section class="widget-thumbnails">
								{{ page.sidebar_content }}
							</section>
						</div>
				
				</div>
				<div class="8u">

					<!-- Content -->
						<div id="content">
							<section class="last">
								{{ content }}
							</section>
						</div>

				</div>
			</div>
		</div>
	</div>
{% include bottom.html %}