{% include top.html %}
<!-- Banner Wrapper -->
	<div id="banner-wrapper">
		<div class="container">
			<div class="row">
				<div class="12u">
				
					<!-- Banner -->
						<div id="banner" class="box">

							<div>
								<div class="row">
									<div class="7u">
										<h2>{{ page.banner_heading }}</h2>
										<p>{{ page.banner_subheading }}</p>
									</div>
									<div class="5u">
										<ul>
											<li><a href="#" class="button big fa fa-arrow-circle-right">Ok let's go</a></li>
											<li><a href="#" class="button alt big fa fa-question-circle">More info</a></li>
										</ul>
									</div>
								</div>
							</div>
						
						</div>

				</div>
			</div>
		</div>
	</div>

<!-- Main Wrapper -->
	<div id="main-wrapper">
		<div class="container">
			<div class="row">
				<div class="4u">
				
					<!-- Sidebar -->
						<div id="sidebar">
							<section class="widget-thumbnails">
								<h3>More free stuff</h3>
								<div class="grid">
									<div class="row no-collapse half">
										<div class="6u"><a href="http://html5up.net/minimaxing/" class="image image-full"><img src="images/pic04.jpg" alt="" /></a></div>
										<div class="6u"><a href="http://html5up.net/halcyonic/" class="image image-full"><img src="images/pic05.jpg" alt="" /></a></div>
									</div>
									<div class="row no-collapse half">
										<div class="6u"><a href="http://html5up.net/arcana/" class="image image-full"><img src="images/pic06.jpg" alt="" /></a></div>
										<div class="6u"><a href="http://html5up.net/zerofour/" class="image image-full"><img src="images/pic07.jpg" alt="" /></a></div>
									</div>
								</div>
								<a href="http://html5up.net/" class="button fa fa-file-text-o">More</a>
							</section>
						</div>
				
				</div>
				<div class="8u">

					<!-- Content -->
						<div id="content">
							<section class="last">
								{{ content }}
							</section>
						</div>

				</div>
			</div>
		</div>
	</div>
{% include bottom.html %}